# Global
LOG_LEVEL=ERROR         # Could be DEBUG, INFO, ERROR, NONE
TZ='America/Edmonton'   # Timezone
PGID=1000               # You don't need to touch this
PUID=1000               # You don't need to touch this

# Cloudflare
CF_KEY=                 # Cloudflare token with zone edit permissions for the domain you own.
CF_EMAIL=               # Cloudflare email id
CF_ZONE=                # Cloudflare zone id for the domain

# Domains
BASE_URL=               # domain.tld
SUBDOMAIN=              # home [or could be anything where your services should show up]
HOME_URL=                 # home.domain.tld [or whatever you used in previous step]

# Github PAT for docker package registry.
GH_PAT=                 # Github personal access token with `read:packages` permission.

# Auth/TFA
SECRET_SALT=            # Random string, make it 64bytes long.
GOOGLE_CLIENT_ID=       # Register your project on Google console and get this.
GOOGLE_CLIENT_SECRET=   # Ditto
WHITELISTED='user1@gmail.com,user2@domain.tld'
AUTH_LOGIN_TOKEN_EXPIRY=2592000
